.left{
    margin-left: 50;
    margin-right: auto;
    display: block !important;
    color: green;
  }

  .rigth {
    margin-left: auto;
    margin-right: 200;
    display: block !important;
    color: red;
  }